.home-part{
    
    width:100%;
    height:350px;
    /*background: #FDC830;  
    background: -webkit-linear-gradient(to right, #F37335, #FDC830); 
    background: linear-gradient(to right, #F37335, #FDC830);*/
    display:flex;
    padding:2% 0 0 10%;
    
    
}
.home-part img{
       width:25%;
       height:85%;
       border-radius:50%;
       background-color: white;
}
.intro{
    margin-left:15%;
    width:40%;
    height:80%;
    
    
    color: white;
    text-transform: uppercase;
}
.intro1{
    width:100%;
    height:50%;
    
    padding:2%;
    font-size:20px;
    font-weight: bolder;
}
.reg-button{
    width:100%;
    height:50%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding:6%;
}
.login{
    outline: none;
    width:150px;
    height:50px;
    background-color:white;
    font-size: large;
    font-weight: bold;
    border-radius:30px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease;
}
.sign-up{
    outline: none;
    width:150px;
    height:50px;
    background-color:white;
    text-decoration-color: black;
    font-size: large;
    font-weight: bold;
    border-radius:30px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.login:hover{
    transform:scaleX(1.2);
  background-color: rgb(252, 206, 0);
}
.sign-up:hover{
    transform:scaleX(1.2);
    background-color: rgb(252, 206, 0);
}
@media screen and (max-width: 800px) {
    .home-part{
           height:380px;
           display: flex;
           flex-direction: column;
           
    }
    .home-part img{
           margin-left:28%;
           width:30%;
           height:45%;
           border-radius: 50%;
           
    }
    .intro{
        margin-left:5%;
        width:80%;
        height:50%;
        
    }
    
    .login{
        margin-top:35%;
        width:85px;
        height:30px;
        border-radius:10px;
    }
    .sign-up{
        margin-top:30%;
        width:100px;
        height:30px;
        border-radius:10px;
    }
}