.login-part{
    width:60%;
    margin-left:35%;
    height:400px;
    
    margin-top:100px;
}
.login-name{
    width:40%;
    height:10%;
    background-color:orange;
    clip-path: polygon(0% 35%,6% 0%,30% 0%,36% 35%,36% 100%,0% 100%);
    background-clip: white;
    color: white;
    font-size:larger;
    font-weight: bold;
    padding-left:18px;
}
.entry-part{
    width:45%;
    height:450px;
    background-color: orange;
    padding:15px 0 0 13px;
    color: white;
    font-size:large;
    font-weight: bolder;
   
}
.entry-part input{
    border-radius:20px;
    height:35px;
}
.submit-part{
    width:150px;
    color: orangered;
    font-size: x-large;
    font-weight: bold;
    background-color: white;
    border-color: orangered solid;
    transition: all 0.2s ease;
    outline: none;
}
.submit-part:hover{
    transform: scaleX(1.5);
}
.newuser{
    margin:15px;
    font-size:15px;
    
}
.newuser a{
    color:blue;
    text-decoration: underline;
}
@media screen and (max-width:900px) {
    .login-part{
        margin-left:5%;
        width:95%;
        margin-top:50px;
    }
    .login-name{
        width:90%;
        padding-left:10px;
    }
    .entry-part{
        width:90%;
    }
    
}